body {
  overflow: hidden;
}

canvas#main {
  width: 100%;
  height: 100%;
  /* display: none; */
}

.accent {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  padding: 1em;
  font-family: Lato, Rubik, sans-serif;
}
